<div class="todo-list">
    <h3>Todo</h3>
    <div *ngFor="let todoItem of list;">
        <!-- Need to check if no items are printed and then show a custom message. -->
        <div class="todo-list__item" *ngIf="!todoItem.done" [ngClass]="{'edit': todoItem.editing}">
            <div class="todo-list__task">
                <div class="task__content" (click)="setColor('cyan')">
                    <i class="fa fa-check" aria-hidden="true" (click)="doneTodo(todoItem)"></i>
                    <span (click)="editTodo(todoItem)">
                        {{todoItem.text}}
                    </span>
                    <i class="fa fa-pencil" aria-hidden="true" (click)="editTodo(todoItem)"></i>
                </div>
                <div class="todo-list__edit" *ngIf="todoItem.editing">
                    <input taFocusInput type="text" (keyup.escape)="stopEdit(todoItem)" (keyup.enter)="saveTodo(todoItem)" [(ngModel)]="currentTodoVal">
                </div>
            </div>
            <div class="todo-list__date">
                <div class="task__content" (click)="editTodo(todoItem)">
                    {{todoItem.date}}
                </div>
                <div class="todo-list__edit" *ngIf="todoItem.editing">
                    <input type="text" (keyup.escape)="stopEdit(todoItem)" (keyup.enter)="saveTodo(todoItem)" [(ngModel)]="currentTodoDate">
                </div>
            </div>
             <i class="fa fa-trash" aria-hidden="true" (click)="removeTodo(todoItem)"></i>
        </div>
    </div>

    <h3>Done</h3>
    <div *ngFor="let todoItem of list">
        <div class="todo-list__item" *ngIf="todoItem.done" [ngClass]="{'edit': todoItem.editing}">
            <div class="todo-list__task">
                <div class="task__content">
                    {{todoItem.text | limitTo : 20}}
                </div>
            </div>
            <div class="todo-list__date">
                <div class="task__content">
                    {{todoItem.date}}
                </div>
            </div>
            <i class="fa fa-trash" aria-hidden="true" (click)="removeTodo(todoItem)"></i>
        </div>
    </div>

</div>