@import "~compass-mixins/lib/compass";
@import "~src/styles/variables";

.todo-list {
}

.todo-list__item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;

    &:hover {
        background: #f1f1f1;
    }

    .fa-trash {
        color: $primary;
        cursor: pointer;
        font-size: 20px;
        margin-left: 10px;
    }

    .fa-pencil {
        margin-left: 5px;
        cursor: pointer;
        color: #aaa;

        &:hover {
            color: #888;
        }
    }

    .fa-check {
        @include single-transition(all, .1s, ease);
        display: inline-block;
        margin-left: 0px;
        width: 30px;
        height: 30px;
        border-radius: 20px;
        background: #fff;
        line-height: 30px;
        text-align: center;
        color: #ccc;
        cursor: pointer;
        margin-right: 5px;
        border: 1px solid #eee;

        &:hover {
            border-color: $green;
            background: $green;
            color: #fff;
        }
    }

    .todo-list__edit {
        input {
            border-radius: 4px;
            outline: none;
            border: 1px solid #ccc;
            padding: 8px 10px;
            font-size: .9em;
        }
    }

    &.edit {
        padding: 7px 10px;

        .task__content {
            display: none;;
        }
    }
}

.todo-list__task {
    flex: 1;
}