.todo-list {
}

.todo-list__item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;

    &:hover {
        background: #f1f1f1;
    }

    .fa {
        color: #fb808b;
        cursor: pointer;
        font-size: 20px;
        margin-left: 10px;
    }
}

.todo-list__task {
    flex: 1;
}