<div class="home intro__container">
  <div class="home__heading">
    <h1>Welcome to the Todo App</h1>
  </div>
  <div class="todo-input">
      <input type="text" placeholder="Enter your name" (keyup.enter)="startTodo(username)" [(ngModel)]="username">
  </div>
  <div class="home__error">{{usernameError}}</div>
  <a routerLink="/todo/{{username}}">
    <input type="button" class="todo__button" value="Get Started" (click)="checkValue(username)">
  </a>
  <h4 class="home__subheading">Or have a look at our satisfied users</h4>
  <div><a routerLink="users"><input type="button" class="todo__button light" value="Our Users"></a></div>
</div>