@import "~compass-mixins/lib/compass";

.todo-input {
    padding: 10px;
    display: flex;
    justify-content: center;

    input {
        flex: 1;
    }

    input,
    button {
        @include border-radius(4px);
        border: 1px solid #ccc;
        font-size: 15px;
        padding: 8px 10px;
    }
}